@charset "UTF-8";



header img{
	width: 50%;
}


h1,p,th,td{
	color: black;
	font-size: 1.5rem;
	font-family: sans-serif;
	text-shadow: 1px 1px 1px gray;
}
h1{
	font-weight: bold;
	padding-bottom: 30px;
	padding-top: 30px;
	font-size: 5rem;
}



section.main{
	clear: left;
}

body{background-color: white;
text-align: center;

}

table{background-color:white ;
table-layout: auto;
border: solid 2px black;
border-collapse: collapse;
margin: auto;

}
th,td{
	border: solid 1px;
	padding: 10px;

}
.arima th{
	width: 100px;
	height: auto;
	text-align: center;
	margin: auto;
	font-size: 1rem;
}
.arima td{
	width: 500px;
	height: auto;
	font-size: 1rem;
}

.waku1{
	background-color: white;
}
.waku2{
	background-color: black;
	color: white;
}
.waku3{
	background-color: red;
}
.waku4{
	background-color: blue;
}
.waku5{
	background-color: yellow;
}
.waku6{
	background-color: green;
}
.waku7{
	background-color: orange;
}
.waku8{
	background-color: pink;
}

h2{
	font-size: 3rem;
}

.yosou{
	color: red;
	text-shadow:1px 1px 1px black;
	margin: auto;
	font-size: 2rem;
}
