/* @font-face {
	font-family: "MyFont";
	src: url(/DragonQuestFCIntact.ttf);
} */


body{
	background-color: black;
	color: white;
	padding-top: 50px;
	font-size: 3rem;
	margin: auto;
	text-align: center;
/* font-family: monospace; */
}