@charset "UTF-8";
#main{
	margin-bottom: 50px;
}

#main p{
margin-bottom: 20px;
}

/* お問い合わせボタンの設定 */
.btn{
	width: 294px;
	margin: 0 auto;
	background-color: #bb9b88;
text-align: center;
border: #92725d solid 3px;

}

.btn a{
	padding: 20px 0;
	display: block;
	font-size: 1.3em;
	text-decoration: none;
}

.btn a:link{
color: #dfded9;
}

.btn a:visited{
	color: #ffcd83
}

.btn a:hover{
	color: #463a30
}